<!DOCTYPE html>
<html>
<head>
	<title>Parks</title>
  <meta name="viewport" content="width=device-width, initial-scale=0.8">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" integrity="sha256-e22BQKCF7bb/h/4MFJ1a4lTRR2OuAe8Hxa/3tgU5Taw=" crossorigin="anonymous" />
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js" integrity="sha256-Cxf2osSjVdgIUDXd8CR70LjMnQD0TA908QL1v00EtMY=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/jquery.form.js"></script>
</head>
<body class="grey lighten-4">
	<nav class="orange">
    <div class="nav-wrapper container">
      <a href="#" class="brand-logo">Parks</a>
    </div>
  </nav>
  <br>
  <main>
  	<div class="container">
  	<div class="row">
  		<div class="col m12 s12">
        <form method="post" action="classifyUpload" enctype="multipart/form-data">
        <p><input type="file" name="file" accept="image/*" capture="camera" />
         <input type="submit" value="Upload" >
        </form>
        <br>
        <h4 id="title" style="display:none"> Finding jobs for you.. please wait</h4>
        <br>
        <div class='box'><img id="image" width="500" /></div>
  		</div>
  	</div>
  </div>
  </main>
    <div id="modal1" class="modal">
    <div class="modal-content">
       <div class="beforeu hideme">
         <h4>Uploading</h4>
         <div class="progress">
              <div class="determinate bar" ></div>
          </div>        
       </div>
       <div class="hideme afteru">
         <h4>Classifying</h4>
          <div class="progress">
            <div class="indeterminate"></div>
          </div>
       </div>
       <div class="hideme doneu">
         <h4 id="finale"> </h4>
       </div>
      </div>
  <script type="text/javascript" src="/static/test.js"></script>
<script>
  $('.modal').modal();
    var bar = $('.bar');
  var status = $('#status');
  var uploaded = false;

  $('form').ajaxForm({

    
 beforeSend: function() {
      
          $('.btn').attr('disabled','true');
          $('.hideme').hide();
          $('.beforeu').show();

         $('#modal1').modal('open');

            var percentVal = '0%';
            bar.width(percentVal);
        },
        uploadProgress: function(event, position, total, percentComplete) {
            var percentVal = percentComplete + '%';
            console.log(percentVal);
            if( percentComplete > 80 && !uploaded){
              uploaded = true
          $('.hideme').hide();
          $('.afteru').show();
            }
            bar.width(percentComplete);
        },
        complete: function(xhr) {
          $('.hideme').hide();
           var  response = JSON.parse(xhr.responseText);
           $("#finale").text( response ); 
        }
  });

</script>

</body>
</html>